RewriteEngine on
# force ssl
RewriteCond     %{SERVER_PORT} ^80$
RewriteRule     ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [L,R]
RewriteRule apartamenty/2-osobowy ap2os.html
RewriteRule apartamenty/3-4-osobowy ap34os.html
RewriteRule apartamenty/4-5-osobowy ap45os.html
RewriteRule apartamenty/deluxe apdeluxe.html
RewriteRule atrakcje atrakcje.html
RewriteRule cennik cennik.html
RewriteRule kontakt kontakt.html
RewriteRule polityka-prywatnosci prywatnosc.html
RewriteRule regulamin regulamin.html
RewriteRule rezerwacja rezerwacja.php